doctype html
html(lang='en')
  head
    include ./includes/head.jade

  body(ng-app='userApp')
    img#wallpaper(src='http://maxcdn.thedesigninspiration.com/wp-content/uploads/2012/11/Wallpaper-l-003.jpg', alt='wallpaper')
    include ./includes/navbar.jade
    ui-view
    include ./includes/footer.jade