doctype html
html(lang='en')
  head
    include ./includes/head.jade

  body(ng-app='userApp', ng-controller='MainCtrl as main')
    img#wallpaper(src='http://maxcdn.thedesigninspiration.com/wp-content/uploads/2012/11/Wallpaper-l-003.jpg', alt='wallpaper')
    include ./includes/navbar.jade
    .register_login_dashboard
      .r_l_header
        h1#app_name Basic User App
        h2#app_subheading Tinashe, Emma Watson, Gigi, Victoria Justice, Keira Knightly, Daisy Ridley, Natalie Portman
      .r_l_main
        #signup_forms
          button#get_started_button.button.r_l_buttons Get Started
          br
          button#log_in_button.button.r_l_buttons Log In
          div {{main.test}}
    include ./includes/footer.jade