  /*-------*/
 /*  ALL  */
/*-------*/

html body {
  color: #fff;
}

button, .button {
  border-radius: 5px;
}

img#wallpaper {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -5555;
}

/* navbar */
.top-bar {
  background-color: rgba(0, 0, 0, 0.5);
}

.top-bar .name {
  margin-left: 10px;
}

.top-bar-section ul li {
  background-color: rgba(0, 0, 0, 0);
  padding-right: 5px;
  padding-top: 10px;
  margin-right: 10px;
}

.name h1 {
  color: #fff;
}

.top-bar li:hover {
  color: #929AA9;
}

/* footer */
.footer_copyright {
  height: 33px;
  margin: auto;
  color: #fff;
}

.footer {
  bottom: 0;
  position: fixed;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding-top: 10px;
}

  /*----------------*/
 /*  LANDING PAGE  */
/*----------------*/

.register_login_dashboard {
  text-align: center;
  margin-top: 20%;
}

#app_name {
  float: none;
  margin: auto;
  color: #fff;
  overflow: hidden;
  width: 232px;
  height: 50px;
  padding: 0;
}

#app_subheading h4 {
  width: 490px;
  position: relative;
  left: 50%;
  margin: 10px 0 16px -258px;
  font-size: 16px;
  color: #fff;
  line-height: 22px;
  white-space: nowrap;
  text-align: center;
}

.r_l_buttons {
  height: 52px;
  width: 292px;
}
.errorMessage {
  display: block;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ce1414;
  padding: 10px;
  margin: 0 auto 16px auto;
  border-radius: 5px;
}

.r_l_main button {
  margin-left: 5px;
  margin-right: 5px;
}

  /*--------*/
 /*  HOME  */
/*--------*/
.users_list, .user_profile_page {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  min-height: 80vh;
  margin-top: 36px;
}

.cropAvatar {
  width: 330px;
  overflow: hidden;
}

.avatar {
  border-radius: 12px;
  width: 100%;
}

.content * {
  /*border: 1px solid red;*/
}

.user_profile_page .content {
  color: #E5E5E7;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 0;
}

.profileKey {
  text-align: right;
  font-weight: 600;
}

#edit {
  font-style: italic;
  font-size: .8em;
  cursor: pointer;
}

textarea#bio {
  max-width: 400px;
}

.user_profile_page {
  margin-top: 15px;
}


.avatar_phone_number #phone_number {
  visibility: hidden;
}

.avatar_phone_number:hover #phone_number{
  visibility: visible;
}

body {
  margin: 0;
  padding: 0;
}

.reveal-modal{
  min-height: 300px;
}

.ng-modal {
  transition: 0.2s ease-in-out opacity;
}

.ng-modal .reveal-modal {
  display: block;
  visibility: visible;
}

.ng-modal .reveal-modal-bg {
  display: block;
}

.ng-modal.ng-hide-add,
.ng-modal.ng-hide-remove{
  display: block !important;
}

.ng-modal.ng-hide{
  opacity: 0;
}

.reveal-modal{
  transition: 0.2s ease-in-out all;
  transition-delay: 0.2s;
  -webkit-transform: scale(1);
  opacity: 1;
}

.reveal-modal.ng-hide-add,
.reveal-modal.ng-hide-remove{
  display: block !important;
}

.reveal-modal.ng-hide{
  -webkit-transform: scale(0.9);
  opacity: 0;
}

.demo .button{
  margin: 60px auto 0;
}

.demo .button, .demo .button:focus{
  outline: none;
}

.navigation {
  padding-left: 9px;
  padding-top: 7px;
  padding-right: 11px;
}

.home {
  padding-left: 15px;
}

.navigation:hover, .home:hover {
  cursor: pointer;
}

  /*---------*/
 /*  USERS  */
/*---------*/
.users_list .row {
  margin-top: 15px;
  margin-bottom: 15px;
}

.users_list .content {
  padding-left: 15px;
  padding-right: 15px;
  color: #E5E5E7;
}

.viewFavorites {
  width: 200px;
  height: 37px;
  padding: 8px;
  margin-bottom: 16px;
}

/* miniBar styligng */
.miniBar {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  padding-left: 0px;
}

.editBtns {
  text-align: right;
  padding: 10px 0 10px 0;
}

.thumbAvatar {
  border-radius: 5px;
  padding: 0;
  margin: 0;
  max-height: 44px;
}

.userName {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: right;
  font-size: 1.2em;
  padding-right: 5px;
}

.about {
  padding-top: 10px;
  padding-bottom: 10px;
  font-style: italic;
  padding-left: 5px;
}

/* fullBar styling */
.fullBar {
  display: none;
}

.cardIsActive .fullBar{
  display: block;
}

.fullAvatar {
  height: 200px;
}

.profile_info {
  text-decoration: underline;
