<div class="container user_profile_page">
  <div class="content">
    <img src="https://i.ytimg.com/vi/UKp2CrfmVfw/maxresdefault.jpg" alt="Alessia Cara" class="avatar large-3 columns">
    <div class="profile_info large-offset-2">
      <p> <em>Name:</em> Username.name</p>
    </div>
    <div class="profile_info large-offset-3">
      <p> <em>Email:</em>Username.email</p>
    </div>
    <div class="profile_info large-offset-3">
      <p> <em>Phone Number:</em> Username.phone_number</p>
    </div>
    <div class="profile_info large-offset-3">
      <em>Address:</em>
      <p>Username.street_name <br>Username.city_state_zip_code</p>
    </div>
    <div class="profile_info large-offset-3">
      <p> <em>Twitter:</em> Username.twitter_handle</p>
    </div>
    <div class="profile_info large-offset-3">
      <p> <em>Github:</em>Username.github</p>
    </div>
    <div class="profile_info large-offset-3">
      <em>Bio</em>
      <textarea cols="35" rows="4" maxlength="350" id="bio"></textarea>
    </div>
  </div>
</div>