<div class="container user_profile_page">
  <div class="content">
    <img src="{{avatarSrc}}" alt="" class="avatar large-3 columns">
    <div class="profile_label large-offset-2" ng-repeat="(key,value) in user">
      <p> <em>{{key}}</em> <span class="profile_info">{{value}}</span></p>
    </div>
  </div>

  <form>
    <input type='file' ng-model='images.upload' base-sixty-four-input>
    <button ng-click="uploadAvatar()"> Upload! </button>
  </form>

  <button class="button" ng-click='toggleModal()'>Edit</button>
  <button ng-click="delete()">Delete</button>

  <modal show='modalShown'>
    <div ng-repeat="(key, value) in user">
      <label>{{key}}</label>
      <input type="text" ng-model="user[key]">

    </div>

    <button ng-click="save()">Save</button>

  </modal>
</div>
