<div class="register_login_dashboard">
  <div class="r_l_header">
    <h1 id="app_name">Connect</h1>
    <div id="app_subheading">
      <h4>Connect With Those Around You</h4>
    </div>
  </div>
  <div class="r_l_main">
    <div>
      <button id="get_started_button" class="button r_l_buttons" ng-click="landing_page.showRegister()" ng-hide="landing_page.formToShow">Get Started</button>
      <br>
      <button id="log_in_button" class="button r_l_buttons" ng-click="landing_page.showLogin()" ng-hide='landing_page.formToShow'>Log In</button>
    </div>
    <div ng-show="landing_page.formToShow">
      <div class="row">
        <div class="r_l_inputs columns small-12 medium-6 small-centered">
          <input id="usernameInput" type="text" placeholder="Username" ng-model="input.username">
          <!-- <input type="email" placeholder="Email" ng-model="input.email" ng-hide="landing_page.formToShow === 'login'"> -->
          <input type="password" placeholder="Password" ng-model="input.password">
          <input type="password" placeholder="Confirm Password" ng-model="input.password2" ng-hide="landing_page.formToShow === 'login'">
        </div>
      </div>
      <div class="row">
        <span class="errorMessage columns small-12 medium-6 medium-push-3 large-4 large-push-4" ng-show="landing_page.err_msg">{{landing_page.err_msg}}</span>
      </div>
      <div class="row">
        <button ng-hide="landing_page.formToShow === 'login'" ng-click="landing_page.register(input)">Register</button>
        <button ng-hide="landing_page.formToShow === 'register'" ng-click="landing_page.login(input)">Log In</button>
        <button ng-hide="landing_page.formToShow === 'register'" ng-click="landing_page.back()">Back</button>
        <button ng-hide="landing_page.formToShow === 'login'" ng-click="landing_page.back()">Back</button>
      </div>
    </div>
  </div>
</div>
