meta(charset='UTF-8')
title Basic User App
base(href='/')
link(rel='stylesheet', href='vendor/foundation/css/foundation.min.css')
link(rel='stylesheet', href='style.css')
script(src='vendor/angular/angular.js')
script(src='vendor/jquery/dist/jquery.min.js')
script(src='vendor/angular-ui-router/release/angular-ui-router.min.js')
//- script(src='vendor/ng-file-upload/ng-file-upload.min.js')
script(src='vendor/foundation/js/foundation.min.js')
script(src='userApp/components/home/home.js')
script(src='userApp/app.js')
script(src='userApp/app.routes.js')
