meta(charset='UTF-8')
title Basic User App
base(href='/')
link(rel='stylesheet', href='vendor/foundation/css/foundation.min.css')
link(rel='stylesheet', href='style.css')
script(src='vendor/angular/angular.js')
script(src='vendor/jquery/dist/jquery.min.js')
script(src='vendor/angular-ui-router/release/angular-ui-router.min.js')
script(src='vendor/angular-local-storage/dist/angular-local-storage.min.js')
//- script(src='vendor/ng-file-upload/ng-file-upload.min.js')
script(src='vendor/foundation/js/foundation.min.js')
script(src='vendor/foundation/js/foundation/foundation.reveal.js')
script(src='vendor/angular-foundation/mm-foundation-tpls.min.js')
script(src='app/app.js')
script(src='app/components/home/home.js')
script(src='app/components/landing_page/landing_page.js')
script(src='app/components/users/users.js')
script(src='app/components/navbar/navbar.js')
script(src='app/services/login.js')
script(src='app/services/user.js')
script(src='app/services/store.js')
script(src='app/services/nav.js')
script(src='app/app.routes.js')
