nav.top-bar(data-topbar='', role='navigation' ng-controller="NavbarCtrl")
  ul.title-area
    li.name(ng-click="home()")
      h1 My Site
    li.toggle-topbar.menu-icon
      a(ui-sref='home')
        span Menu
  section.top-bar-section
    ul.right
      div()
        li(ng-click="home()") Home
        li(ng-click="users()") Users
        li(ng-click="logout()") Logout