nav.top-bar(data-topbar='', role='navigation')
  ul.title-area
    li.name
      h1
        a(ui-sref='home') My Site
    li.toggle-topbar.menu-icon
      a(ui-sref='home')
        span Menu
  section.top-bar-section
    ul.right
      div()
        li
          a(ui-sref="home") Home
        li
          a(ui-sref="users") Users
        li
          a(ng-click='main.logout()' ui-sref="landing_page") Logout