<div class="container users_list">
  <div class="content">

  

    <!-- <div class="avatar_phone_number large-2 columns">
      <img src="https://i.ytimg.com/vi/UKp2CrfmVfw/maxresdefault.jpg" alt="Alessia Cara" class="avatar">
      <p id="phone_number"><em>Phone Number:</em> Username.phone_number</p>
    </div>

    <div class="profile_info ">
      <p large-offset-3> <em>Name:</em> Username.name <em>Twitter:</em> Username.twitter_handle</p>
    </div>
    <div class="profile_info">
      <p large-offset-3> <em>Email:</em>Username.email <em>Github:</em>Username.github</p>
    </div>
    <div class="profile_info large-offset-3">
      <em>Address:</em>
      <p>Username.street_name <br>Username.city_state_zip_code</p>
    </div>

    <div class="profile_info large-offset-3">
      <em>Bio</em>
      <textarea cols="35" rows="4" maxlength="350" id="bio"></textarea>
    </div> -->
  </div>
</div>

<!--
 <div ng-controller="AccordionDemoCtrl">
  <label class="checkbox">
    <input type="checkbox" ng-model="oneAtATime">
    Open only one at a time
  </label>

  <accordion close-others="oneAtATime">
    <accordion-group heading="Static Header, initially expanded" is-open="true">
      This content is straight in the template.
    </accordion-group>
    <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
      {{group.content}}
    </accordion-group>
    <accordion-group heading="Dynamic Body Content">
      <p>The body of the accordion group grows to fit the contents</p>
        <button class="button small" ng-click="addItem()">Add Item</button>
        <div ng-repeat="item in items">{{item}}</div>
    </accordion-group>
    <accordion-group is-open="isopen">
        <accordion-heading>
            I can have markup, too! <i class="right" ng-class="{'fa fa-chevron-down': isopen, 'fa fa-chevron-right': !isopen}"></i>
        </accordion-heading>
        This is just some content to illustrate fancy headings.
    </accordion-group>
  </accordion>
</div> -->