<div class="container">
  <div class="row users_list">
    <div class="columns small-12">
      <div class="row ">
        <div class="small-3 columns">
          <input type="text" placeholder="search" ng-model="filterQuery" >
        </div>
        <div class="small-3 columns users">
          <div class="viewFavorites button small-push-1 columns" ng-click="toggleFavs()" >
            <span class='fa fa-star-o'></span>Favorites
          </div>
        </div>
      </div>
      <div class="content row" ng-repeat="(idx, user) in users | filter:filterQuery" ng-click="toggleActive(user._id, $event)"
      ng-class="{ 'cardIsActive' : activeCards[user._id] }", ng-if='(user._id !== me._id) && (showFavs ?  isFav(user._id) : true)'>

      <div class="miniBar small-12 columns">
        <img class="thumbAvatar columns small-1" src="{{::user.avatar}}" alt="">
        <span class="userName columns small-1">{{user.username}}</span>
        <span class="about columns small-8" >{{user.about}}</span>
        <span class="editBtns columns small-1">
          <div class="function_buttons_users">
            <div ng-if="me.isAdmin">
            <span class="edit" ng-click="toggleModal(idx, $event)"><i class="fa fa-edit"></i></span>
            <span class="trash" ng-click="deleteUser(user); $event.stopPropagation();"><i class="fa fa-trash"></i></span>
          </div>
          <span class="favStar">
            <i class="fa" ng-class=" isFav(user._id) ? 'fa-star' : 'fa-star-o' " ng-click="makeFav(user._id); $event.stopPropagation();"></i>
          </span>
          </div>
        </span>
      </div>
      <div class="fullBar" >

        <div class="fullInfo">
          <div class="content columns small-12 medium-6 large-7">
            <div class="row userInfo">
              <div class="row">
                <p class="profileKey columns small-12 medium-3 large-3">Name</p>
                <p class="columns small-12 medium-9 large-9">{{user.profilename}}</p>
              </div>
              <div class="row">
                <p class="profileKey columns small-12 medium-3 large-3">Email</p>
                <p class="columns small-12 medium-9 large-9">{{user.email}}</p>
              </div>
              <div class="row">
                <p class="profileKey columns small-12 medium-3 large-3">Address</p>
                <p class="columns small-12 medium-9 large-9">{{user.address}}</p>
              </div>
              <div class="row">
                <p class="profileKey columns small-12 medium-3 large-3">Phone</p>
                <p class="columns small-12 medium-9 large-9">{{user.phone}}</p>
              </div>
              <div class="row">
                <p class="profileKey columns small-12 medium-3 large-3">Bio</p>
                <p class="columns small-12 medium-9 large-9">{{user.about}}</p>
              </div>
            </div>
          </div>

          <div class="cropAvatar small-12 medium-6 large-4 columns">
            <img class="avatar" src="{{::user.avatar}}" alt="Alessia Cara" >
          </div>

        </div>
      </div>
    </div>
        <modal show='modalShown'>
    <div>
      <label>Name</label>
      <input type="text" ng-model="current_user.profilename">
      <label>Email</label>
      <input type="text" ng-model="current_user.email">
      <label>Address</label>
      <input type="text" ng-model="current_user.address">
      <label>Phone</label>
      <input type="text" ng-model="current_user.phone">
      <label>Bio</label>
      <input type="text" ng-model="current_user.about">
    </div>
    <button ng-click="save()">Save</button>
  </modal>
  </div>
</div>

